@model IEnumerable<Morgenmadsbuffeten.Models.RoomCheckedIn>

@{
    ViewData["Title"] = "All Overview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>All Overview</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Children)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adults)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Children)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adults)
            </td>
        </tr>
}
    </tbody>
</table>
